# Table of Contents
 <p><div class="lev2 toc-item"><a href="#はじめに" data-toc-modified-id="はじめに-01"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>はじめに</a></div><div class="lev2 toc-item"><a href="#必要ライブラリの読み込み" data-toc-modified-id="必要ライブラリの読み込み-02"><span class="toc-item-num">0.2&nbsp;&nbsp;</span>必要ライブラリの読み込み</a></div><div class="lev2 toc-item"><a href="#データ準備" data-toc-modified-id="データ準備-03"><span class="toc-item-num">0.3&nbsp;&nbsp;</span>データ準備</a></div><div class="lev1 toc-item"><a href="#データ抽出のための比較演算子" data-toc-modified-id="データ抽出のための比較演算子-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>データ抽出のための比較演算子</a></div><div class="lev2 toc-item"><a href="#ふつうにPythonの比較演算子１" data-toc-modified-id="ふつうにPythonの比較演算子１-11"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>ふつうにPythonの比較演算子１</a></div><div class="lev2 toc-item"><a href="#ふつうにPythonの比較演算子２" data-toc-modified-id="ふつうにPythonの比較演算子２-12"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>ふつうにPythonの比較演算子２</a></div><div class="lev2 toc-item"><a href="#NaN判定" data-toc-modified-id="NaN判定-13"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>NaN判定</a></div><div class="lev1 toc-item"><a href="#行の抽出" data-toc-modified-id="行の抽出-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>行の抽出</a></div><div class="lev2 toc-item"><a href="#先頭と末尾" data-toc-modified-id="先頭と末尾-21"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>先頭と末尾</a></div><div class="lev2 toc-item"><a href="#行番号" data-toc-modified-id="行番号-22"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>行番号</a></div><div class="lev2 toc-item"><a href="#条件抽出" data-toc-modified-id="条件抽出-23"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>条件抽出</a></div><div class="lev3 toc-item"><a href="#通常" data-toc-modified-id="通常-231"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>通常</a></div><div class="lev3 toc-item"><a href="#当てはまらない行をNaNとして抽出（where）" data-toc-modified-id="当てはまらない行をNaNとして抽出（where）-232"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>当てはまらない行をNaNとして抽出（where）</a></div><div class="lev3 toc-item"><a href="#条件式文字列で抽出（query）" data-toc-modified-id="条件式文字列で抽出（query）-233"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span>条件式文字列で抽出（query）</a></div><div class="lev3 toc-item"><a href="#日時条件" data-toc-modified-id="日時条件-234"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span>日時条件</a></div><div class="lev2 toc-item"><a href="#ランダムサンプリング" data-toc-modified-id="ランダムサンプリング-24"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>ランダムサンプリング</a></div><div class="lev2 toc-item"><a href="#指定列の上位下位" data-toc-modified-id="指定列の上位下位-25"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>指定列の上位下位</a></div><div class="lev1 toc-item"><a href="#列の抽出" data-toc-modified-id="列の抽出-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>列の抽出</a></div><div class="lev2 toc-item"><a href="#列名条件" data-toc-modified-id="列名条件-31"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>列名条件</a></div><div class="lev3 toc-item"><a href="#列名指定" data-toc-modified-id="列名指定-311"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>列名指定</a></div><div class="lev3 toc-item"><a href="#指定以外の列" data-toc-modified-id="指定以外の列-312"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>指定以外の列</a></div><div class="lev3 toc-item"><a href="#指定列から、指定列まで" data-toc-modified-id="指定列から、指定列まで-313"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span>指定列から、指定列まで</a></div><div class="lev3 toc-item"><a href="#正規表現で列名抽出(filter)" data-toc-modified-id="正規表現で列名抽出(filter)-314"><span class="toc-item-num">3.1.4&nbsp;&nbsp;</span>正規表現で列名抽出(filter)</a></div><div class="lev2 toc-item"><a href="#列番号" data-toc-modified-id="列番号-32"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>列番号</a></div><div class="lev2 toc-item"><a href="#列の値" data-toc-modified-id="列の値-33"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>列の値</a></div><div class="lev3 toc-item"><a href="#データ型指定" data-toc-modified-id="データ型指定-331"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>データ型指定</a></div><div class="lev3 toc-item"><a href="#列全体の統計量で条件指定" data-toc-modified-id="列全体の統計量で条件指定-332"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span>列全体の統計量で条件指定</a></div>

## はじめに
pandas DataFrameについて、<br>
データ抽出の方法を網羅的に示す

## 必要ライブラリの読み込み

In [1]:
import pandas as pd
import numpy as np

## データ準備

In [75]:
from sklearn.datasets import load_iris
iris = load_iris()
df = pd.DataFrame(
    iris.data, columns=[x[:-5].replace(" ", "_") for x in iris.feature_names])
df["species"] = [iris.target_names[x] for x in iris.target]
df = df.iloc[[1, 60, 61, 140, 141]].reset_index(drop=True)
df.iloc[2, 3] = np.nan
df.iloc[1, 2] = np.nan
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           4.9          3.0           1.4          0.2      setosa
1           5.0          2.0           NaN          1.0  versicolor
2           5.9          3.0           4.2          NaN  versicolor
3           6.7          3.1           5.6          2.4   virginica
4           6.9          3.1           5.1          2.3   virginica

# データ抽出のための比較演算子

## ふつうにPythonの比較演算子１

In [57]:
print(10 < 60)  # 未満
print(10 > 60)  # 超　
print(10 <= 60)  # 以下
print(10 >= 60)  # 以上 
print(10 == 60)  # イコール
print(10 != 60)  #ノットイコール
print(10 is 60)  # イコール
print(10 is not 60)  #ノットイコール
print("a" in ["a", "b", "c"])  # 含む
print("a" not in ["a", "b", "c"])  # 含まない

True
False
True
False
False
True
False
True
True
False

## ふつうにPythonの比較演算子２

In [56]:
print((10 < 60) & (10 < 5))  # どちらも
print((10 < 60) | (10 < 5))  # どちらか
print(~10 < 5)  # 否定（True Falseが逆になる）

False
True
True

## NaN判定

In [12]:
pd.isnull(np.nan)

True

In [14]:
pd.isnull(5.0)

False

In [15]:
pd.notnull(5.0)

True

データフレーム各列１つ以上TrueのときTrue

In [64]:
df.isnull().any()

sepal_length    False
sepal_width     False
petal_length     True
petal_width      True
species         False
dtype: bool

データフレーム各列すべての要素がTrueのときTrue

In [65]:
df.isnull().all()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

変数自身を比較することでNaN判定ができる

In [67]:
x = np.nan
x == x

False

In [68]:
y = 10
y == y

True

# 行の抽出

## 先頭と末尾

In [ ]:
n = 3

先頭n行

In [73]:
df.head(n)

   sepal_length  sepal_width  petal_length  petal_width     species
0           4.9          3.0           1.4          0.2      setosa
1           5.0          2.0           NaN          1.0  versicolor
2           5.9          3.0           4.2          NaN  versicolor

末尾n行

In [74]:
df.tail(n)

   sepal_length  sepal_width  petal_length  petal_width     species
2           5.9          3.0           4.2          NaN  versicolor
3           6.7          3.1           5.6          2.4   virginica
4           6.9          3.1           5.1          2.3   virginica

## 行番号

In [82]:
df.iloc[1:3]

   sepal_length  sepal_width  petal_length  petal_width     species
1           5.0          2.0           NaN          1.0  versicolor
2           5.9          3.0           4.2          NaN  versicolor

## 条件抽出

### 通常

単一条件
(sepal_lengthが6以上の行を抽出)

In [88]:
df[df.sepal_length > 6]

   sepal_length  petal_length    species
3           6.7           5.6  virginica
4           6.9           5.1  virginica

複数条件<br>
（sepal_lengthが6以上かつ、petal_lengthが5.3以上の行を抽出）

In [124]:
df[(df.sepal_length > 6) & (df.petal_length > 5.3)]

   sepal_length  sepal_width  petal_length  petal_width    species
3           6.7          3.1           5.6          2.4  virginica

複合条件<br>
（sepal_lengthとpetal_lengthの積が25以上の行を抽出）

In [119]:
df[df["sepal_length"] * df["petal_length"] > 25]

   sepal_length  sepal_width  petal_length  petal_width    species
3           6.7          3.1           5.6          2.4  virginica
4           6.9          3.1           5.1          2.3  virginica

### 当てはまらない行をNaNとして抽出（where）

In [121]:
df.where(df.sepal_length > 6)

   sepal_length  sepal_width  petal_length  petal_width    species
0           NaN          NaN           NaN          NaN        NaN
1           NaN          NaN           NaN          NaN        NaN
2           NaN          NaN           NaN          NaN        NaN
3           6.7          3.1           5.6          2.4  virginica
4           6.9          3.1           5.1          2.3  virginica

In [151]:
df.where(df.sepal_length > 6, "-")

  sepal_length sepal_width petal_length petal_width    species
0            -           -            -           -          -
1            -           -            -           -          -
2            -           -            -           -          -
3          6.7         3.1          5.6         2.4  virginica
4          6.9         3.1          5.1         2.3  virginica

### 条件式文字列で抽出（query）

In [123]:
df.query("sepal_length > 6 & petal_length > 5.3")
df[(df.sepal_length > 6) & (df.petal_length > 5.3)]
# と書くよりも、比較的スッキリ書ける

   sepal_length  sepal_width  petal_length  petal_width    species
3           6.7          3.1           5.6          2.4  virginica

### 日時条件

In [196]:
df2 = pd.DataFrame({
    "date": pd.to_datetime(pd.Series(["2017-12-29","2017-12-30","2017-12-31","2018-01-01"])),
    "weight":[80,85,89,90]
})
df2

        date  weight
0 2017-12-29      80
1 2017-12-30      85
2 2017-12-31      89
3 2018-01-01      90

指定日時以降

In [203]:
df2[df2["date"] >= pd.to_datetime("2017-12-30")]

        date  weight
1 2017-12-30      85
2 2017-12-31      89
3 2018-01-01      90

dtアクセサで条件

In [270]:
df2[df2["date"].dt.year.isin([2017])]  # 年
df2[df2["date"].dt.month.isin([12])]   # 月
df2[df2["date"].dt.day.isin([30])]     # 日
df2[df2["date"].dt.date.isin([pd.to_datetime('2017-12-29').date()])] # 日付
df2[df2["date"].dt.hour.isin([0])]     # 時
df2[df2["date"].dt.minute.isin([0])]   # 分
df2[df2["date"].dt.second.isin([0])]   # 秒
df2[df2["date"].dt.time.isin([pd.to_datetime('00:00:00').time()])]   # 時分秒
df2[df2["date"].dt.week.isin([52])]    # 1年の何週目か
df2[df2["date"].dt.weekday.isin([0])]  # 曜日 Mondey = 0 Sunday = 6

        date  weight
3 2018-01-01      90

In [230]:
from datetime import datetime

In [253]:
df2["date"].dt.date[0]

datetime.date(2017, 12, 29)

In [256]:
df2["date"].dt.date.isin([pd.to_datetime('2017-12-29').date()])

0     True
1    False
2    False
3    False
Name: date, dtype: bool

In [255]:
pd.to_datetime('2014-12-29').date()

datetime.date(2014, 12, 29)

## ランダムサンプリング

In [94]:
df.sample(3)

   sepal_length  sepal_width  petal_length  petal_width     species
3           6.7          3.1           5.6          2.4   virginica
1           5.0          2.0           NaN          1.0  versicolor
4           6.9          3.1           5.1          2.3   virginica

In [100]:
df.sample(frac=0.4)

   sepal_length  sepal_width  petal_length  petal_width     species
2           5.9          3.0           4.2          NaN  versicolor
3           6.7          3.1           5.6          2.4   virginica

## 指定列の上位下位

In [169]:
n = 3
df.nlargest(3, "sepal_length") # 上位n個

   sepal_length  sepal_width  petal_length  petal_width     species
4           6.9          3.1           5.1          2.3   virginica
3           6.7          3.1           5.6          2.4   virginica
2           5.9          3.0           4.2          NaN  versicolor

In [93]:
df.nsmallest(n, "sepal_length")

   sepal_length  sepal_width  petal_length  petal_width     species
0           4.9          3.0           1.4          0.2      setosa
1           5.0          2.0           NaN          1.0  versicolor
2           5.9          3.0           4.2          NaN  versicolor

# 列の抽出

## 列名条件

### 列名指定

In [108]:
df[["sepal_length", "species"]]

   sepal_length     species
0           4.9      setosa
1           5.0  versicolor
2           5.9  versicolor
3           6.7   virginica
4           6.9   virginica

In [109]:
df["species"] # Series型になる

0        setosa
1    versicolor
2    versicolor
3     virginica
4     virginica
Name: species, dtype: object

### 指定以外の列

In [117]:
df.loc[:, ~df.columns.isin(["petal_length"])]

   sepal_length  sepal_width  petal_width     species
0           4.9          3.0          0.2      setosa
1           5.0          2.0          1.0  versicolor
2           5.9          3.0          NaN  versicolor
3           6.7          3.1          2.4   virginica
4           6.9          3.1          2.3   virginica

### 指定列から、指定列まで

In [103]:
df.loc[:, "sepal_width":"petal_width"]

   sepal_width  petal_length  petal_width
0          3.0           1.4          0.2
1          2.0           NaN          1.0
2          3.0           4.2          NaN
3          3.1           5.6          2.4
4          3.1           5.1          2.3

### 正規表現で列名抽出(filter)

In [148]:
df.filter(regex="\_")               # _を含む列名の列
df.filter(regex="^sepal")           # seplalで始まる列名の列
df.filter(regex="length$")          # lengthで終わる列名の列
df.filter(regex="^(?!species$).*")  # species以外の列名の列

   sepal_length  sepal_width
0           4.9          3.0
1           5.0          2.0
2           5.9          3.0
3           6.7          3.1
4           6.9          3.1

In [136]:
df2 = pd.DataFrame({
    "x1":[1,2,3],
    "x2":[33,0,4],
    "x3":["e","g","g"],
    "x4":[7,7,7]
})
df2.filter(regex="^x[1-3]$") # xで始まり、1-3のいずれかの数字で終わる列名の列

   x1  x2 x3
0   1  33  e
1   2   0  g
2   3   4  g

## 列番号

In [138]:
df.iloc[:, [1,2,3]] # : はすべての行を表す

   sepal_width  petal_length  petal_width
0          3.0           1.4          0.2
1          2.0           NaN          1.0
2          3.0           4.2          NaN
3          3.1           5.6          2.4
4          3.1           5.1          2.3

## 列の値

### データ型指定

In [173]:
df2 = df.loc[:,df.dtypes==np.float64]
df2

   sepal_length  sepal_width  petal_length  petal_width
0           4.9          3.0           1.4          0.2
1           5.0          2.0           NaN          1.0
2           5.9          3.0           4.2          NaN
3           6.7          3.1           5.6          2.4
4           6.9          3.1           5.1          2.3

### 列全体の統計量で条件指定

In [177]:
over15 = df2.sum() > 15
df2[over15.index[over15]]

   sepal_length  petal_length
0           4.9           1.4
1           5.0           NaN
2           5.9           4.2
3           6.7           5.6
4           6.9           5.1