# Table of Contents
 <p><div class="lev2 toc-item"><a href="#はじめに" data-toc-modified-id="はじめに-01"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>はじめに</a></div><div class="lev2 toc-item"><a href="#必要ライブラリの読み込み" data-toc-modified-id="必要ライブラリの読み込み-02"><span class="toc-item-num">0.2&nbsp;&nbsp;</span>必要ライブラリの読み込み</a></div><div class="lev1 toc-item"><a href="#【入力】" data-toc-modified-id="【入力】-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>【入力】</a></div><div class="lev2 toc-item"><a href="#入力元いろいろ" data-toc-modified-id="入力元いろいろ-11"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>入力元いろいろ</a></div><div class="lev3 toc-item"><a href="#CSV" data-toc-modified-id="CSV-111"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>CSV</a></div><div class="lev3 toc-item"><a href="#tsv" data-toc-modified-id="tsv-112"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>tsv</a></div><div class="lev3 toc-item"><a href="#URL(csv)" data-toc-modified-id="URL(csv)-113"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>URL(csv)</a></div><div class="lev3 toc-item"><a href="#json" data-toc-modified-id="json-114"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>json</a></div><div class="lev3 toc-item"><a href="#Excel" data-toc-modified-id="Excel-115"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>Excel</a></div><div class="lev3 toc-item"><a href="#クリップボード" data-toc-modified-id="クリップボード-116"><span class="toc-item-num">1.1.6&nbsp;&nbsp;</span>クリップボード</a></div><div class="lev2 toc-item"><a href="#入力のオプション" data-toc-modified-id="入力のオプション-12"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>入力のオプション</a></div><div class="lev3 toc-item"><a href="#1行目をヘッダーとみなさない" data-toc-modified-id="1行目をヘッダーとみなさない-121"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>1行目をヘッダーとみなさない</a></div><div class="lev3 toc-item"><a href="#指定した列をindexとして読み込み" data-toc-modified-id="指定した列をindexとして読み込み-122"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>指定した列をindexとして読み込み</a></div><div class="lev3 toc-item"><a href="#指定した文字列を欠損値として読み込み" data-toc-modified-id="指定した文字列を欠損値として読み込み-123"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>指定した文字列を欠損値として読み込み</a></div><div class="lev3 toc-item"><a href="#エンコーディング指定" data-toc-modified-id="エンコーディング指定-124"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>エンコーディング指定</a></div><div class="lev3 toc-item"><a href="#複数列の文字列を結合して一つの列として読み込み" data-toc-modified-id="複数列の文字列を結合して一つの列として読み込み-125"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>複数列の文字列を結合して一つの列として読み込み</a></div><div class="lev1 toc-item"><a href="#【出力】" data-toc-modified-id="【出力】-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>【出力】</a></div><div class="lev2 toc-item"><a href="#出力先いろいろ" data-toc-modified-id="出力先いろいろ-21"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>出力先いろいろ</a></div><div class="lev3 toc-item"><a href="#CSV" data-toc-modified-id="CSV-211"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>CSV</a></div><div class="lev3 toc-item"><a href="#tsv" data-toc-modified-id="tsv-212"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>tsv</a></div><div class="lev3 toc-item"><a href="#json" data-toc-modified-id="json-213"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>json</a></div><div class="lev3 toc-item"><a href="#Excel" data-toc-modified-id="Excel-214"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>Excel</a></div><div class="lev2 toc-item"><a href="#出力オプション" data-toc-modified-id="出力オプション-22"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>出力オプション</a></div><div class="lev3 toc-item"><a href="#デフォルト（index,header有）" data-toc-modified-id="デフォルト（index,header有）-221"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>デフォルト（index,header有）</a></div><div class="lev3 toc-item"><a href="#index無し" data-toc-modified-id="index無し-222"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>index無し</a></div><div class="lev3 toc-item"><a href="#header無し" data-toc-modified-id="header無し-223"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>header無し</a></div>

## はじめに

ファイルの入出力について

## 必要ライブラリの読み込み

In [2]:
import pandas as pd
import numpy as np

# 【入力】

## 入力元いろいろ

### CSV

In [5]:
df = pd.read_csv("./data/miniris.csv")
df

   sepal_length sepal_width petal_length  petal_width     species
0           5.1         3.5          1.4          0.2      setosa
1           6.6         3.0            -          1.4  versicolor
2           6.8         2.8          4.8          1.4  versicolor
3           6.2           -          5.4          2.3   virginica
4           5.9         3.0          5.1          1.8   virginica

### tsv

In [7]:
df2 = pd.read_csv("./data/syukujitsu.tsv", delimiter="\t")
df2.head(3)

      国民の祝日月日 国民の祝日名称
0  2016-01-01      元日
1  2016-01-11    成人の日
2  2016-02-11  建国記念の日

### URL(csv)

In [4]:
df3 = pd.read_csv("https://gist.githubusercontent.com/yoshuki/1218921/raw/49958622dbd86c2e70b89e05ccaed88f9a2d8922/prefectures.csv")
df3.head(3)

  name    kana      slug  display_order
0  北海道  ほっかいどう  hokkaido              1
1  青森県  あおもりけん    aomori              2
2  岩手県   いわてけん     iwate              3

### json

In [5]:
pd.read_json("./data/test.json")

  columns data  index
0   col 1    a  row 1
1   col 2    c  row 2

### Excel

In [4]:
df4 = pd.read_excel("./data/okome.xlsx")
df4

     おこめ名   金額
0  あきたこまち  300
1   ゆめぴりか  200
2   コシヒカリ  350

In [1]:
pd.("2017-11-04")

NameError: name 'pd' is not defined

### クリップボード

Excelなどの表や、tsv形式のテキストをコピー

In [14]:
df3 = pd.read_clipboard()
df3.head(3)

,この商品,Pioneer,ヘッドホン,密閉型/オーバーイヤー/レザータイプ/オーディオ用,ブラック,SE-M521,【国内正規品】
0,Pioneer,ヘッドホン,密閉型/オーバーイヤー/ベロアタイプ/オーディオ用,ブラック,SE-M531,【国内正規品】,NaN
1,パナソニック,密閉型ヘッドホン,ブラック,RP-HT260-K,NaN,NaN,NaN
2,JVC,密閉型ステレオヘッドホン,RX500,室内用(テレビ・ゲーム向け),3.5m+延長1.5mコード付き,HP-RX500,NaN

## 入力のオプション

通常

In [8]:
pd.read_csv("./data/miniris.csv")

   sepal_length sepal_width petal_length  petal_width     species
0           5.1         3.5          1.4          0.2      setosa
1           6.6         3.0            -          1.4  versicolor
2           6.8         2.8          4.8          1.4  versicolor
3           6.2           -          5.4          2.3   virginica
4           5.9         3.0          5.1          1.8   virginica

### 1行目をヘッダーとみなさない

In [9]:
pd.read_csv("./data/miniris.csv", header= None)

              0            1             2            3           4
0  sepal_length  sepal_width  petal_length  petal_width     species
1           5.1          3.5           1.4          0.2      setosa
2           6.6          3.0             -          1.4  versicolor
3           6.8          2.8           4.8          1.4  versicolor
4           6.2            -           5.4          2.3   virginica
5           5.9          3.0           5.1          1.8   virginica

### 指定した列をindexとして読み込み

In [10]:
pd.read_csv("./data/miniris.csv", index_col=0)

             sepal_width petal_length  petal_width     species
sepal_length
5.1                  3.5          1.4          0.2      setosa
6.6                  3.0            -          1.4  versicolor
6.8                  2.8          4.8          1.4  versicolor
6.2                    -          5.4          2.3   virginica
5.9                  3.0          5.1          1.8   virginica

### 指定した文字列を欠損値として読み込み

欠損値を　-　などで表しているときに便利

In [11]:
pd.read_csv("./data/miniris.csv", na_values="-")

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.1          3.5           1.4          0.2      setosa
1           6.6          3.0           NaN          1.4  versicolor
2           6.8          2.8           4.8          1.4  versicolor
3           6.2          NaN           5.4          2.3   virginica
4           5.9          3.0           5.1          1.8   virginica

### エンコーディング指定

In [12]:
pd.read_csv("./data/miniris.csv", encoding="UTF-8")

   sepal_length sepal_width petal_length  petal_width     species
0           5.1         3.5          1.4          0.2      setosa
1           6.6         3.0            -          1.4  versicolor
2           6.8         2.8          4.8          1.4  versicolor
3           6.2           -          5.4          2.3   virginica
4           5.9         3.0          5.1          1.8   virginica

### 複数列の文字列を結合して一つの列として読み込み

In [13]:
pd.read_csv('./data/miniris.csv', parse_dates={'petalW_species':['petal_width', 'species']})

   petalW_species  sepal_length sepal_width petal_length
0      0.2 setosa           5.1         3.5          1.4
1  1.4 versicolor           6.6         3.0            -
2  1.4 versicolor           6.8         2.8          4.8
3   2.3 virginica           6.2           -          5.4
4   1.8 virginica           5.9         3.0          5.1

# 【出力】

## 出力先いろいろ

### CSV

In [14]:
df.to_csv("./data/output/output.csv")

### tsv

In [15]:
df.to_csv("./data/output/output.tsv",sep="\t")

### json

In [16]:
df.to_json("./data/output/output.json")

### Excel

In [17]:
df.to_excel("./data/output/output.xlsx")

## 出力オプション

### デフォルト（index,header有）

In [18]:
df.to_csv("./data/output/output.csv")

### index無し

In [19]:
df.to_csv("./data/output/output_noindex.csv",index=None)

### header無し

In [20]:
df.to_csv("./data/output/output_noheader.csv",header=None)